<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-bottom">


<a class="navbar-brand">
  <mat-icon matBadge="7" matBadgeColor="warn">find-in-page</mat-icon>
</a>

<a class="navbar-brand">
    <mat-icon matBadge="7" matBadgeColor="warn">list_alt</mat-icon>
  </a>

  <a class="navbar-brand">
      <mat-icon matBadge="7" matBadgeColor="warn">home</mat-icon>
    </a>
    <a class="navbar-brand">
        <mat-icon matBadge="7" matBadgeColor="warn">business</mat-icon>
      </a>
      <a class="navbar-brand">
          <mat-icon matBadge="7" matBadgeColor="warn">commute</mat-icon>
        </a>

</nav> -->
<h3>footer</h3>